
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #FFF9;
}

header{
    width: 100%;
    height: 80px;
    background-color: #300FA6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    color: #ffffff;
}

header .menu-icon{
    font-size: 35px;
    cursor: pointer;
    display: none;
    color: #ffffff;
}

header .brand a{
    color: #ffffff;
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
}

header .navbar{
    display: flex;

}

header .navbar a{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 80px;
    text-decoration: none;
}

header .navbar a:hover {
    background-color: #7B68EE;
}
/* pagina de ligação do cadastro */
#pro{
       border:1px solid;
       padding: 11px 21px;
       vertical-align: middle;
       background:#2D888F; 
       color:white;
       border-radius:6px; 
       font-size: 20px; 
       font-family:helvetica, serif;
       text-decoration:none;
       float: right;
       margin-right: 35%;
       margin-top: 20%;
}
#cli{
    border:1px solid;
     padding: 11px 21px; 
     vertical-align: middle; 
     background:#2D888F; 
     color:white;
     border-radius:6px; 
     font-size: 20px; 
     font-family:helvetica, serif;
     text-decoration:none;
     float: left;
     margin-left: 35%;
     margin-top: 20%;
}
/* texto e imagem do home */
#title {
    text-align: center;
    margin: 2vh;
    font-size: 6vh;
}
#home-text-1{
    display: inline-block;
    margin-left: 30vh;
    vertical-align: 40vh;
    font-size: 5vh;
}
#home-text-2 {
    display: inline-block;
    vertical-align: 60vh;
    font-size: 5vh;
}
#home-image-1 {
    display: inline-block;
    text-align: top;

    width: 99vh;
    margin-left: 15vh;
}
#home-image-2 {
    display: inline-block;
    margin-left: 10vh;
    text-align: top;
    width: 99vh;
}
/* icones da redes social do footer */
.footer-ul li {
    list-style: none;
}
.footer-ul a{
    text-decoration: none;
    color: white;
}
.footer-ul ul {
    margin-top: 3vh;
    margin-right: 4vh;
    margin-left: 8vh;
}
.footer-social {
    display: inline-block;
}
.footer-social li a{
    list-style: none;
    font-size: 4vh;
    text-align: initial;
    text-decoration: none;
    color: white;
}
.footer-social img {
    margin: 3vh;
}
footer {
    display: flex;
    background-color: #1A0859;
    color: white;
}
.social-images{
    width: 5vh;
    margin: 2vh;
    margin-bottom: 0;
}

#idioma {
    position: relative;
    top: -4vh;
}
/*
body {

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";

    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #fff;
}
.inv {
    grid-area: header;
    height: 10vh;
}

main {
    grid-area: main;

    width: 100%;
    height: 100%;

    font-size: 30px;
    text-align: center;

    background-color: white;
}
h1{
    font-size: 8vh;
    margin-bottom: 5vh;
}

header {
    grid-area: header;
    position: fixed;
    width: 100%;
}
nav {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    font-size: 3vh !important;
    font-family: poppins, sans-serif !important;
    height: 10vh !important;
    background-color: #1A0859 !important;
    line-height: 35px !important ;
}
.button-nav {
    display: inline-block;
    cursor: pointer;
    
    border: none;
    border-radius: 8%;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 32px;
    
    text-align: center;
    text-decoration: none;
    
    
    
    background-color: #1A0859;
    color: white;
    
}
.button-nav {
  transition-duration: 0.4s;
}
#nav-sign-in {
    margin: 2vh;
    background-color: #300FA6;
}
#nav-sign-in:hover {
    color: white;
    transition-duration: 0.4s;
    box-shadow: 1px 1px 10px white;
}
.logo{
    font-size: 6vh;
    font-family: poppins, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;

    letter-spacing: 1vh;
    margin-left: 5vh;

    background-color:  #1A0859;
    color: #E6E6E6;
}
.logo:hover {
    color: white;
}

*/
/*menssagens de erro e sucesso*/
.msg-container{
    background-color: #fff;
    padding: 10px;
    font-size: 12px;

}

.msg{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #000;
    text-align: center;
}

.msg.error{
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;;
}

.msg.success{
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
/*fim das menssagens */


/*imagem de perfil  */
.profile-image-container{
    width: 150px;
    height: 150px;
    border: 6px solid #8176e4;
    border-radius: 100%;
    background-size: cover;
    background-position: center ;
    margin: 15px auto;
}
/*imagens*/



/* fomulario de cadastro */
.row{
   margin-top: 200px;
}

.z{
    margin-bottom: 50px;
}


@media screen and (max-width: 768px){
    header .menu-icon{
        display: block;
    }

    header .navbar{
        width: 100%;
        height: calc(100vh - 80px);
        background-color: #300FA6;
        position: absolute;
        top: 80px;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 200ms ease-out;
    }

    header .navbar.active{
        left: 0;
    }
}