@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

body{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
    align-items: center;
    justify-content: center;

    background: white;
}

.container{
    grid-area: main;
    width: 100vh;

    font-size: 30px;
    text-align: center;
    
    background-color: white;
}
#home-text-1{
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
}
#home-text-2{
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
}
#home-image-1{
    grid-area: main;
    display: inline-block;
    width: 50px;
}
#home-image-2{
    grid-area: main;
    display: inline-block;
    width: 50px;
}
/*header{
    grid-area: header;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    padding: 20px 0;  
    
}
*/
/*
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    padding: 20px 0;  
    
}
.header{
    display: flex;
}
li {
    list-style: none;
   
}

body{
    background: linear-gradient(45deg, rgb(192, 53, 10), #8e2de2);
    background-repeat: no-repeat;
    min-height: 97vh;
    min-width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    max-width: 450px;  
    min-height: 40vh; 
    padding: 2em;  
    box-shadow: 5px 5px 15px rgb(0, 0, 0.3);
    border-radius: 8px;
}

main h2{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00a0);
}

form{
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
    margin-top: 10px;
}

.input-field input {
    outline: none;
    font-size: 1rem;
    color: rgb(0, 0, 0.9)
}

.input-field ipnut ::placeholder {
    color: rgb(0, 0, 1);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.5rem;
    background: linear-gradient(to left, #b61fdb, #8e54e9);
    cursor: pointer;
    font-size: 1rem;
    color: white;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3 ease;
}

form input[type="submit"] :hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #b61fdb, #6824d6);
}


footer {
  display:block;
  position:fixed;
  width:100%;
  bottom:0vh;
  left:0;
  text-align:center;
  padding: 20px 0;
  background: white;
  height: 3%;
  
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

.footer span{
    color: rgb(0, 0, 0.9);
    font-size: 0.9rem;
    text-align: center;
}

.footer social-field {
    padding: 05rem;
    border-radius: 4px;
    font-size: 0.9rem;
    width: 100%;
}

.footer social-field a {
    text-decoration: none;
    color: white;
}
.footer social-field.Facebook {
    background: linear-gradient(to right, #1e3c72);
}
*/
